<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">編集する</h1>
    <%= form_tag("/posts/#{@post.id}/update") do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <input name="name" value="<%= @post.name %>" placeholder="アプリ名">
          <textarea name="content"  placeholder="アプリの概要"><%= @post.content %></textarea>
          <textarea name="reson"  placeholder="理由"><%= @post.reson %></textarea>
          <input type="submit" value="保存">
        </div>
      </div>
    <% end %>
  </div>
</div>
