<!DOCTYPE html>
<html>
  <head>
    <title>MIRAI</title>
    <%= favicon_link_tag 'ryo.jpg'%>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- drawer.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
    <!-- iScroll -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
    <!-- drawer.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>

  </head>

  <body  class="drawer drawer--right">
    <header class="drawer-navbar animsition" role="banner">
      <div class="drawer-container">
        <div class="drawer-navbar-header">
          <% if @current_user %>
            <a id="top-btn" class="drawer-brand animsition-link" href="/posts/index">MIRAI</a>
          <% else %>
            <a id="top-btn" class="drawer-brand animsition-link" href="/">MIRAI</a>
          <% end %>
          <button type="button" class="drawer-toggle drawer-hamburger">
            <span class="sr-only">toggle navigation</span>
            <span class="drawer-hamburger-icon"></span>
          </button>
        </div>
        <nav class="drawer-nav" role="navigation">
          <ul class="drawer-menu drawer-menu--right">
            <% if @current_user %>
              <li>
                <%= link_to(@current_user.name, "/users/#{@current_user.id}", class: 'drawer-menu-item') %>
              </li>
              <li>
                <%= link_to("投稿一覧", "/posts/index", class: 'drawer-menu-item') %>
              </li>
              <li>
                <%= link_to("新規投稿", "/posts/new", class: 'drawer-menu-item') %>
              </li>
              <li>
                <%= link_to("ユーザー一覧", "/users/index", class: 'drawer-menu-item') %>
              </li>
              <li>
                <%= link_to("ログアウト", "/logout", class: 'drawer-menu-item', method: :post) %>
              </li>
            <% else %>
              <li>
                <%= link_to("新規登録", "/signup", class: 'drawer-menu-item animsition-link') %>
              </li>
              <li>
                <%= link_to("ログイン", "/login", class: 'drawer-menu-item animsition-link') %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <% if flash[:notice] %>
      <div class="alert alert-info flash"><%= flash[:notice] %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>

<script type="text/javascript">
$(document).ready(function() {
  $('.drawer').drawer();
});
//$('#top-btn').click(function(){
//  $('html,body').animate({
//    'scrollTop': 0
//  }, 'slow');
//});
</script>
